body {
    background-color: #d0e4fe;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: darkred;
    text-align: left;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

p.highlight {
    color: darkred;    
}

div.bob {
    background-color: #aaaaff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 50px;    
}

#list-01 ul {
    list-style-type: square;
    color: darkgreen;
}

#list-02 ul {
    list-style-type: circle;
    color: darkmagenta;
}
