body {
    font-family: 'Roboto', sans-serif;
    background-color: #d0e4fe;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: darkred;
    text-align: left;
}

p {
    font-size: 20px;
}

p.highlight {
    color: darkred;    
}

p.smallprint {
    font-size: xx-small;
}

div.padded {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 50px;        
}

div.bob {
    background-color: #aaaaff;
}

#list-01 ul {
    list-style-type: square;
    color: darkgreen;
}

#list-02 ul {
    list-style-type: circle;
    color: darkmagenta;
}

span[data-test] {
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

span[data-test="low"] {
    color: green;    
}

span[data-test="medium"] {
    color: orange;    
}

span[data-test="high"] {
    color: red;    
}